@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);
  --gold: hsl(50, 100%, 50%);

  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* suavizar fonts */

  /* plano de fundo desktop */
  background: url(images/desktop.png) no-repeat center/cover;
  background-color: #121214;
}

body {
  display: grid;
  place-items: center;

  background-size: 100% 100%;
}

main {
  background: url(./images/background.svg) no-repeat center/cover;
  min-width: 375px;
  min-height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.container li:hover, #whatsapp:hover {
  border-bottom: 3px solid var(--gold);
}

#whatsappIcon {
  width: 48px;
}


/* Div da foto + logo da rocketseat */

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
  animation: spin 30s linear infinite;
}

.avatar>img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Nome + ghub */

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  /* itens na horizontal */
  gap: 0.5rem;
  /* espaçamento entre elementos ul */

  justify-content: center;
  /* alinhar elementos ao centro */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
